/* 登录大盒子 */
.login-box {
    width: 440px;
    margin: 0 auto 60px;
}
.login-title {
    font-size: 32px;
    text-align: center;
    color: #191919;
    padding: 100px 80px 80px;
}

.login .box{
    display: flex;
    height: 48px;
    width: 440px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #191919;
    line-height: 48px;
    font-size: 14px;
    padding: 0 16px;
    margin-top: 20px;
}

.login .phone span {
    height: 24px;
    width: 1px;
    margin: 0 16px;
    background: rgba(0, 0, 0, 0.1);
    align-self: center;
}
.login .phone input {
    padding-left:8px;
    background: transparent;
    border: transparent;
    width: 280px;
}
.login .verification {
    position: relative;
    width: 320px;
}
.login .verification input {
    width: 100%;
    padding-left:8px;
    background: transparent;
    border: transparent;
}
.login .verification .random {
    position: absolute;
    top: 0;
    right: -118px;
    width: 100px;
    height: 48px;
    background-color: #ccc;
    font-size: 24px;
    color: #256fff;
    border-radius: 8px;
    letter-spacing:6px;
    padding-left: 10px;
}
.login .password input{
    padding-left:8px;
    background: transparent;
    border: transparent;
    flex: 1;
}
.login button{
    width: 300px;
    height: 48px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    padding: 0  16px;
    color: #fff;
    background: rgb(37, 111, 255);
    border-radius: 8px;
    border: transparent;
    margin-left: 70px;
}
.login .link {
    margin-left: 110px;
    margin-top: 30px;
}
.login .link span{
    color: rgba(0,0,0,.1);
    font-size: 16px;
}
.login .link a{
    font-size: 16px;
    color: rgb(37, 111, 255);
    padding: 0 10px;
}
.login .prompt{
    display: none;
    color: rgb(255, 51, 32);
    line-height: 20px;
    font-size: 14px;
}